<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"></meta>
</head>

<body>
	<div align="center">
		<hr></hr>
	
		<a href="/example/create">CREATE</a>
	
		<hr></hr>

		<table id="example" class="table table-striped table-bordered"
			border="1" style="border: 5px silver outset;">
			<tr>
				<td>Id</td>
				<td>Name</td>
				<td>Action</td>
			</tr>
			<tr th:each="dep : ${listaDepartamentosJpql}">
				<td th:text="${dep.depId}">id</td>
				<td th:text="${dep.nombre}">name</td>
				<td><a th:href="'/example/update/'+${dep.depId}">Update</a> ||
					<a th:href="'/example/delete/'+${dep.depId}">Delete</a> 
					<!-- 				<a th:href="/@{'/delete/' + ${dep.depId}}">Delete</a> -->
				</td>
			</tr>
		</table>
	</div>

</body>
</html>